
#intro{
  background-image: url(../img/c1.jpg);
  background-size: cover;
  height: 400px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .25), 0 3px 14px 6px rgba(0, 0, 0, 0.63) !important;
}
.mask{
  margin-top: 100px;
}
@media(min-width:576px){
  #intro{
    height: 600px;
  }
  .mask{
    margin-top: 160px;
  }
}
.mycard img{
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .25), 0 3px 14px 6px rgba(0, 0, 0, 0.63) !important;
}
.mycard a{
  border-radius: 100%;
}
